# Flutter build files
build/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
macos/Flutter/ephemeral/
web/.dart_tool/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Dart dependencies
.dart_tool/
.packages

# IDE / Editor files
.idea/
.vscode/
*.iml

# Flutter specific
generated_plugin_registrant.dart

# Misc
*.lock
*.log
*.tmp

# Exclude user-specific configurations
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.gradle/
assets/dialog_flow_auth.json
